.footer {
    margin-top: 407px;
    margin-bottom: 400px;
}
.footer .footer_img {
    position: relative;
}
.footer .footer_close {
    position: relative;
}
.footer_img {
    position: absolute;
    top: 148px;
    left: 300px;
    width: 600px;
    z-index: -3;
}
.footer_button {
    background: #0B0E66;
    border: 3px solid #26C7EA;
    border-radius: 45px 0px;
    width: 260px;
    height: 80px;
    color: #26C7EA;
    font-size: 24px;
}
.footer_close {
    position: absolute;
    background: none;
    border: none;
    z-index: 3;
    left: 905px;
    top: -235px;
}
.footer_close-svg {
    background: none;
    fill: $main-text-color;
    width: 14px;
    height: 14px;
}
.footer_logo {
    color: $main-text-color;
    margin-left: 510px;
    margin-top: -198px;
    font-size: 24px;
    @extend %handlandone;
}
.footer_text {
    text-align: center;
    color: $main-text-color;
    margin-top: 80px;
    margin-left: 110px;
    font-size: 24px;
    @extend %handlandone;
}