.in-script-2 {
    align-items: center;
    text-align: center;
}
.in-script-2_logo {
    margin-top: 75px;
    font-size: 36px;
    @extend %inter;
    transform: scale(1, 1);
    transition: transform 500ms;
    &:hover {
        transform: scale(1.2, 1.2);
    }
}
.in-script-2_jake {
    margin-top: 16px;
    font-size: 24px;
    @extend %inter;
}
.in-script-2_img {
    margin-top: 8px;
    margin-bottom: 10px;
    transform: scale(1, 1);
    transition: transform 500ms;
    &:hover {
        transform: scale(1.2, 1.2);
    }
}