.join .join_img {
    position: relative;
}
.join .join_close {
    position: relative;
}
.join_img {
    position: absolute;
    top: 492px;
    left: 0;
    transform: translate(50%, -50%);
    width: 600px;
    height: 404px;
    z-index: -5;
}
.join_list {
    margin-left: 380px;
}
.join_label:last-child {
    margin-top: 9px;
}
.join_label {
    font-size: 24px;
    color: #0b0e66;
    @extend %inter;
}
.join_input {
    margin-top: 2px;
    width: 440px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #0B0E66;
}
.join_button {
    margin-left: 480px;
    margin-top: 35px;
    background: #0B0E66;
    border: 3px solid #26C7EA;
    border-radius: 45px 0px;
    width: 260px;
    height: 80px;
    color: #26C7EA;
    font-size: 24px;
    @extend %handlandone;
}
.join_close {
    position: absolute;
    background: none;
    border: none;
    top: -90px;
    left: 900px;
    z-index: 3;
}
.join_close-svg {
    background-color: none;
    fill: #0B0E66;
    width: 14px;
    height: 14px;
}
