header {
    width: 100%;
    height: 700px;
    background-image: linear-gradient(90deg, #36526A 5.74%, rgba(55, 107, 151, 0) 93.38%), url(../img/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.header_item {
    list-style: none;
}
.header_img {
    margin-top: 25px;
}
.header_avatar-background {
    margin-top: 25px;
}
.header_warrior-1 {
    margin-top: 149px;
    color: $main-text-color;
    font-size: 20px;
    @extend %inter;
}
.header_warrior-2 {
    color: $main-text-color;
    font-size: 20px;
    @extend %inter;
}
.header_join-to-clan {
    margin-top: 65px;
    width: 260px;
    height: 80px;
    background: #0B0E66;
    border: 3px solid #26C7EA;
    border-radius: 45px 0px;
    font-size: 24px;
    color: #26C7EA;
    @extend %inter;
}
.header_avatar-background .header_avatar {
    position: relative;
}
.header_avatar {
    position: absolute;
    width: 717px;
    height: 600px;
    top: 100px;
    right: 105px;
}
.header_avatar-background .switcher_img-eng, .switcher_img-switch, .switcher_img-ua {
    position: relative;
}
.switcher_img-eng, .switch, .switcher_img-ua {
    position: absolute;
}
.switcher_img-eng {
    right: 258px;
    top: 23px;
}
.switch {
    left: 1385px;
    bottom: 665px;
}
.switcher_img-ua {
    right: 170px;
    top: 23px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  &::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}





.header_avatar-background .service_link-inst, .service_link-twit, .service_link-yout {
    position: relative;
}
.service_link-inst, .service_link-twit, .service_link-yout {
    position: absolute;
}
.service_link-inst {
    fill: $program-links-color;
    top: 224px;
    right: 164px;
}
.service_link-twit {
    fill: $program-links-color;
    top: 278px;
    right: 164.83px;
}
.service_link-yout {
    fill: $program-links-color;
    top: 335px;
    right: 164px;
}