.in-script-2 {
    align-items: center;
    text-align: center;
}
.in-script-2_logo {
    margin-top: 75px;
    font-size: 36px;
    @extend %inter;
}
.in-script-2_jake {
    margin-top: 16px;
    font-size: 24px;
    @extend %inter;
}
.in-script-2_img {
    margin-top: 8px;
    margin-bottom: 10px;
}