.in-script-1 {
    margin-top: 75px;
    align-items: center;
    text-align: center;
}
.in-script-1_logo {
    font-size: 36px;
    @extend %inter;
}
.in-script-1_jake {
    margin-top: 16px;
    font-size: 24px;
    @extend %inter;
}
.in-script-1_img {
    margin-top: 8px;
    margin-bottom: 10px;
}